NODE_ENV=development
PORT=3500
MONGO_URI=mongodb://localhost:27017/saudi_cons
JWT_SECRET=your_jwt_secret_key
JWT_EXPIRES_IN=14d
ALLOWED_ORIGINS=http://localhost:3000,http://localhost:4200

# otp
GMAIL_USER=yourgmail@gmail.com
GMAIL_APP_PASSWORD=your_gmail_app_password
OTP_SECRET=some_long_random_secret
